body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}
h1 {
  font-size: 45px;
  font-weight: bold;
  text-align: justify;
}
.color {
  color: rgb(213, 63, 63);
}
h3 {
  text-align: justify;
  color: orange;
}
.heading {
  text-align: center;
  color: rgb(5, 126, 183);
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
div img {
  margin-top: 15px;
  margin-right: 50px;
  padding-left: 50px;
}
.half1 {
  padding-left: 25px;
  padding-right: 20px;
}
.half2 {
  padding-left: 25px;
  padding-right: 20px;
  margin-right: 150px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(brown, rgb(232, 56, 86));
  color: #030201;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 20px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream {
  color: red;
  font-size: 20px;
}
.change-color {
  color: blueviolet;
}
.heading1 {
  color: rgb(143, 14, 134);
}
.link-button1 {
  text-decoration: none;
  background-image: linear-gradient(rgb(203, 23, 158), rgb(232, 56, 229));
  color: #030201;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 20px;
}
.dream-bg {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;

  background-position: right;
  margin: 10px;
}
.exp {
  margin-top: 100px;
  margin-left: 15px;
}
.margin-padding {
  margin-left: 20px;
  width: 34%;
}
.margin-padding1 {
  margin-left: 20px;
  width: 33%;
}
.margin-padding2 {
  margin-left: 20px;
  width: 33%;
}
